{% extends "base.html" %}

{% block content %}

 <!-- Page content-->
 <div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                     <div class="row">
                        <h1 class="fw-bolder mb-1 col-8">{{post.title}}</h1>
                        <div class="row col-4">
                            <a class='btn btn-secondary col-lg-5 mx-1' href="{{post.get_absolute_url}}update/">
                                Update
                            </a>
                            <a class='btn btn-danger col-lg-5' href="">
                                Delete
                            </a>

                        </div>

                     </div>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Posted on {{post.published}} by {{post.author.username}}</div>
                    <!-- Post categories-->
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Developpement Web</a>
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Science De données</a>
                    <a class="badge bg-secondary text-decoration-none link-light" href="{% url 'post_share'post.id %}">share</a>

                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4">{{post.body}}</p>
                   
                </section>
            </article>
            <!-- Comments section-->
            <section class="mb-5">
                <div class="card bg-light">
                    <h2>
                        {% with comments.count as total_comments %}
                            {{total_comments}} comment{{total_comments|pluralize}}

                        {% endwith %}
                    </h2>
                    <div class="card-body">
                        <!-- Comment form-->
                        {% if new_comment %}
                            <h3>Your comment has been added</h3>

                        {% else %}
                            <h3>Add new comment</h3>
                            <form action="" method="post" class="mb-5">
                                {{comment_form.as_p}}
                                {% csrf_token %}

                                <button class = 'btn btn-primary' type = "submit"> Add comment </button>
                            </form>
                         {% endif %}

                         <div class="comment"></div>

                        {% for comment in comments %}

                            <div class="d-flex mb-3">
                                <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                <div class="ms-3">
                                    <div class="fw-bold">
                                        #{{forloop.counter}} {{comment.author.username}}
                                        <span class= "text-muted"> at {{comment.created}} </span></div>
                                    {{comment.body}}
                                </div>
                            </div>
                            {% empty %}
                            <h2> You don't have a comment yet </h2>
                        {%endfor%}
                    </div>
                </div>
            </section>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                        <button class="btn btn-primary" id="button-search" type="submit">Go!</button>
                    </div>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Categories</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">Developpement Web</a></li>
                                <li><a href="#!">Science De Données</a></li>
                                <li><a href="#!">Cybersécurité</a></li>

                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">Programmation</a></li>
                                <li><a href="#!">Astuces</a></li>
                                <li><a href="#!">Tutoriels</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">Side Widget</div>
                <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block domready %}
    <script>
        // Initialisation de la connexion à la source d'événements
        var eventSource = new EventSource("{% url 'stream' post.id %}");

        // Gestion de l'événement lorsque la connexion est ouverte
        eventSource.onopen = function() {
            console.log('Ouverture de la source');
        };

        // Gestion des messages reçus
        eventSource.onmessage = function(e) {
            const resp = JSON.parse(e.data);
            let content = "";  // Initialisation de la variable de contenu

            if (resp.length === 0) {
                content = "<h2> Vous n'avez pas encore de commentaire </h2>";
            } else {
                resp.forEach(function(item, index) {
                    content += bulltContent((index + 1), 
                        item['author__username'], 
                        item['body'], 
                        item['created']);
                });
            }

            // Met à jour le contenu des commentaires dans le DOM
            document.querySelector(".comment").innerHTML = content;
            console.log(resp);
        };

        // Gestion des erreurs
        eventSource.onerror = function(e) {
            console.error('Erreur de connexion:', e);
            eventSource.close(); // Fermer la connexion en cas d'erreur
        };

        // Fonction pour générer le contenu HTML pour chaque commentaire
        function bulltContent(index, author, body, created) {
            const content = `
                <div class="d-flex mb-3">
                    <div class="flex-shrink-0">
                        <img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." />
                    </div>
                    <div class="ms-3">
                        <div class="fw-bold">
                            #${index} ${author}
                            <span class="text-muted"> at ${created} </span>
                        </div>
                        ${body}
                    </div>
                </div>
            `;
            return content;
        }
    </script>
{% endblock domready %}
