{% extends "base.html" %}

    
{% block content %}
        
    <header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Bienvenue {{user.username}} sur Beldev !</h1>
            <p class="lead mb-0">Je m'appelle Emmanuel je suis Developpeur python </p>
            {% if category %}
                <p>Articles dédiés au language {{category}} </p>
            {% endif %}
        </div>
    </div>
    <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">January 1, 2023</div>
                            <h2 class="card-title">Featured Post Title</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                            <a class="btn btn-primary" href="#!">Read more →</a>
                        </div>
                    </div>
                    <!-- Nested row for non-featured blog posts-->
                    <div class="row">
                       {%for post in posts%} 
                            <div class="col-lg-6">
                                <!-- Blog post-->
                                <div class="card mb-4">
                                    <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                                    <div class="card-body">
                                        <div class="small text-muted">{{post.published}}</div>
                                        <h2 class="card-title h4">{{post.title}}</h2>
                                        <p class="card-text">{{post.body|truncatechars:100}}</p>
                                        <a class="btn btn-primary" href="{{post.get_absolute_url}}">Read more →</a>
                                    </div>
                                </div>
                                
                            </div>
                        {% endfor %}
                    </div>
                    <!-- Pagination-->
                        <!--{% include "D:\blog django\monblog\blog\templates\blog\layouts\pagination.html"  with page=page_obj %}
                -->     {% include "D:\blog django\monblog\blog\templates\blog\layouts\pagination.html"  with page=posts %}

                </div>

                        <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">Search</div>
                        <div class="card-body">
                            <form action="{% url 'post_search' %}" method="get">
                                <div class="input-group">
                                    <input name="query" class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                                    <button class="btn btn-primary" id="button-search" type="submit">Go</button>
                                </div>
                        </form>
                        </div>
                    </div>
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Categories</div>
                        <div class="card-body">
                            <div class="row">
                                {% for cat in categories %}
                                    <div class="col-sm-6">
                                        <ul class="list-unstyled mb-0">
                                            <li><a href="{% url 'category_post_list' cat.slug %}">{{cat.name}}</a></li>
                                        </ul>
                                    </div>

                                {% endfor %}
                                
                            
                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">Side Widget</div>
                        <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    

{% endblock %}    

