{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% if sent %}
        <h1>E-mail a été envoyé</h1>
        <p>
            *{{post.title}}* a été envoyé chez {{form.cleaned_data.to}}
        </p>
    {% else %}
        <h1>Partage *{{post.title}}* par e-mail</h1>
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Send e-mail" class="btn btn info">
        </form>
    {% endif %}

{% endblock content %}